body{ 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.obrot {
    transform: rotate(1080deg);
    transition: transform 4s;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    margin-top: 250px;
}

label {
    margin: 5px;
}

#submit {
    background-color: lightgreen;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
}

#submit:hover {
    opacity: 0.8;
    padding: 10px;
    cursor: pointer;
}

p {
    font-size: larger;
    text-align: center;
}