body {
    background-color: #2f3336;
    color: #efefef;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 120rem;
    flex-direction: column;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 6%;
    background-color: #2f3336;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: 92%;
    background-color: #2f3336;
    display: flex;
    flex-direction: row;
}

footer {
    width: 100%;
    height: 2%;
    background-color: #1c74b2;
}

.titlediv {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content:center;
    align-items: center;
}

nav {
    background-color: #1c74b2;
    text-align: center;
    height: 60%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 24px;
    min-height: 38px;
    line-height: 200%;
  }
  
  .menu > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #0a2b42;
    margin-top: 4px;
  }
  
  .menu > li:first-child {
    border-left: 1px dashed #0a2b42;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
  }
  
  .menu a:hover {
    color: #0a2b42;
  }

article {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 50%;
    background-color: #2f3336;
    text-align: center;
    border-bottom: 1px solid #1c74b2;
    
}

.content2 {
    width: 100%;
    height: 50%;
    text-align: center;
}

p{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

aside {
    width: 20%;
    height: 100%;
}

.ad {
    width: 100%;
    height: 100%;
    background-image: url("/img/infografika-reklam-displayowych.png");
}