body {
    height:100%;
    background: linear-gradient(0deg, gray, lightblue, #5C5CFF 80%) no-repeat;
}

.container {
    min-height: 770px;
    width: 1000px;
    margin: 100px auto;
}


.home {
    font-size: 300px;
    position: absolute;
    top: 53%;
}

.persona {
    font-size: 200px;
    position: absolute;
    top: 63%;
    right: 820px;
}

.dog {
    font-size: 100px;
    position: absolute;
    top: 74%;
    right: 770px;
    z-index: 3;
}

.tree {
    font-size: 100px;
    position: absolute;
    top: 50%;
    right: 50px;
    filter: blur(10px);
}
.tree2 {
    font-size: 100px;
    position: absolute;
    top: 55%;
    right: 270px;
    filter: blur(10px);
}
.tree3 {
    font-size: 100px;
    position: absolute;
    top: 50%;
    right: 190px;
    filter: blur(10px);
}

.cloud1 {
    font-size: 300px;
    z-index: -1;
    opacity: 0.5;
    right: 500px;
    position: absolute;
}

.cloud2 {
    font-size: 300px;
    opacity: 0.8;
    right: 650px;
    position: absolute;
}

.cloud3 {
    font-size: 300px;
    z-index: -2;
    opacity: 0.5;
    right: 900px;
    top: -10px;
    position: absolute;
}

.cloud4 {
    font-size: 300px;
    opacity: 0.8;
    right: 1050px;
    position: absolute;
}

.sun {
    position: absolute;
    right: 500px;
    font-size: 200px;
    top: 30px;
    filter: blur(10px);
}
.fa-sun {
    color: #FCE570;

}

.fa-cloudflare {
    color: lightgray;
}

.fa-house {
    color: burlywood;
}

.fa-person {
    color: antiquewhite;
}

.fa-dog {
    color: bisque;
}

.fa-tree {
    color: green;
}